$noto-sans: "Noto Sans JP", sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$medium: 500;
$bold: 700;
$extrabold: 800;
$black: #444;
$white: #fff;
$gray: #faf7f3;
$green: #41a9a5;
$yellow: #fec800;
$orange: #f67e62;
$blue: #3490d1;
$red: #f44336;
