@use "./_mixins.scss" as *;
@use "./_variables.scss" as *;
@import "./reset.scss";

html {
  font-family: $noto-sans;
  font-weight: $medium;
}

a,
img {
  display: block;
}

img {
  width: 100%;
  object-fit: cover;
}
